/* Plan.css */

.plans-container {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
  }
  .plan-box {
    background-color: #fff;
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color:black;
  }
  
  .tab-container {
    display: flex;
  
  }
  
  .tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .tab:hover {
    background-color: #e0e0e0;
  }
  .plan-heading {
    display: flex;
    align-items: center;
  }
  
  .add-plans {
    font-size: 18px;
    margin-left: auto;
    color:white;
  }
  
  
  
  .active-tab {
    background-color: #007bff;
    color: #fff;
    border-bottom: 1px solid #fff; /* Border to simulate bending */
  }
  
  .plans-list {
    background-color:  #007bff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    color:white;
  }
  
  .plans-section {
    display: none;
  }
  
  .active-section {
    display: block;
  }
  
  .planh2 {
    color: white;
    margin-bottom: 10px;
  }
  