/* RechargeHistory.css */

.recharge-history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .headingread {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .user-info {
    margin-bottom: 20px;
  }
  
  .history-table {
    width: 70%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .history-table th,
  .history-table td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
  }
  
  .history-table th {
    background-color: #f2f2f2;
  }
  
  .history-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  