/* AdminProfile.css */

/* .admin-profile-card {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .profile-card-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-card-content {
    font-size: 1.2em;
  }
  
  .profile-card-content p {
    margin-bottom: 10px;
  }
  
  .profile-card-content strong {
    margin-right: 10px;
    font-weight: bold;
    color: #333;
  }
   */